@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Barlow";
  --h1-font: 36px;
  --h3-font: 20px;
  --p-font: 16px;
}
.theme-light {
  --background: #fff /*91D4AF*/;
  --primary-color: #b5e3c5;
  --second-color: #d8f3dc;
  --third-color: #e7fee7;
  --bold-font-color: #011c25;
  --light-color: #002233;
  --text-color: #002c42;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
  font-family: var(--font-family);
  min-height: 100%;
  /*position: relative;*/
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.navbar img {
  width: 100px;
}

.navbar i {
  font-size: 25px;
  color: var(--text-color);
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-invio {
  background: var(--text-color);
  color: var(--font-family);
  width: 100px;
  padding: 15px 20%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  cursor: pointer;
}
.btn-invio span {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1rem;
}

.btn-invio i {
  font-size: 1rem;
  color: var(--primary-color);
}
.footer {
  margin-top: auto;
  padding-top: 50px;
  margin-bottom: 20px;
}

.footer img {
  display: block;
  margin: auto;
  width: 100px;
}

.footer p {
  color: var(--text-color);
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}

.footer a {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin: 0 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.social-icons i {
  color: var(--text-color);
  font-size: 25px;
}
.menu-items {
  display: none !important;
  font-size: var(--h3-font);
  display: flex;
  gap: 50px;
  margin-left: 50px;
}

.menu-items a {
  color: var(--text-color);
}

.container-img {
  background: url("img/match.jpeg");
  background-size: cover;
  width: 80%;
  height: 300px;
  border-radius: 15px;
  position: relative;
  margin: 0 auto;
}

.titleimg2 {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: var(--text-color);
}

.textroad {
  width: 90%;
  margin: 30px auto;
  color: var(--text-color);
}

.textroad h1 {
  text-align: center;
}

.textroad p {
  padding: 0 10px;
}

.container-iscriviti {
  border-radius: 15px;
  display: grid;
  width: 100%;
  background: var(--primary-color);
  padding: 20px;
  gap: 40px;
}

.container-iscriviti h3 {
  font-size: var(--h3-font);
  color: var(--text-color);
  text-align: center;
}

.container-iscriviti p {
  color: var(--text-color);
}

.textIscriviti p {
  text-align: center;
}

.iscriviti {
  width: 100%;
  background: var(--third-color);
  border-radius: 15px;
  padding: 20px;
}

.iscriviti input {
  margin-bottom: 20px;
  background: var(--background);
  border-radius: 15px;
  border: none;
  padding: 12px 20px;
  width: 100%;
  color: var(--text-color);
}

.iscriviti input::placeholder {
  color: var(--text-color);
  opacity: 0.7;
  font-weight: 300;
}
.menu-items a {
  color: var(--text-color);
}
.iscriviti input:hover {
  background: var(--third-color);
  cursor: pointer;
}

.iscriviti input:focus-visible {
  outline: 1px solid var(--text-color);
  border-radius: 15px;
}

.iscriviti p {
  font-size: 14px;
  margin-bottom: 20px;
}

.iscriviti p a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
}

.main-t {
  margin-bottom: 30px;
  color: var(--text-color);
  text-align: center;
  font-size: var(--h1-font);
}

.title-hidden {
  color: var(--text-color);
  text-align: center;
  font-size: var(--h3-font);
}

.fase {
  display: grid;
  gap: 4%;
  width: 60%;
  grid-template-columns: 15% 0 40%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.container-roadmap {
  margin: 40px 0;
}

.container-roadmap hr {
  height: 120px;
}

.hidden-t {
  display: none;
}

.content-fase span {
  color: var(--text-color);
  font-weight: 200;
}

.content-fase p {
  margin-top: 30px;
  color: var(--text-color);
}

.container-faq {
  width: 90%;
  margin: 30px auto;
}

.container-faq h3 {
  text-align: center;
  font-size: var(--h3-font);
  color: var(--text-color);
  margin-bottom: 20px;
}

.faq {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
  border-radius: 15px;
  padding: 0 10px;
}

.faq i {
  font-size: 1.5rem;
}

.faq:hover {
  background: var(--third-color);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question p {
  font-weight: bold;
  margin: 30px 0;
}

.answer p {
  padding-bottom: 20px;
}

.answer {
  max-height: 0;
  overflow: hidden;
}

.faq.active {
  background: var(--third-color);
}

.faq.active .answer {
  max-height: 300px;
  transition: 1s;
}

.faq.active i {
  transform: rotate(180deg);
}

.avvertenze {
  color: var(--text-color);
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.avvertenze span {
  padding: 3px 6px;
  border: 2px solid var(--text-color);
}
/* MEDIA QUERY */
@media (max-width: 768px) {
  .title-hidden {
    display: none;
  }

  .hidden-t {
    display: inline-block;
    margin-bottom: 0;
    color: var(--text-color);
    text-align: center;
    font-size: var(--h3-font);
    margin-right: 30px;
  }

  .main-t {
    font-size: var(--h3-font);
  }

  .title-hidden {
    text-align: left;
  }

  .container-roadmap {
    width: 100%;
  }

  .container-roadmap hr {
    height: 150px;
  }

  .fase {
    gap: 20px;
    width: 80%;
    grid-template-columns: 0% 100%;
  }
}
@media (min-width: 769px) {
  .navbar {
    width: 60%;
    margin: 0 auto 30px;
  }

  .container-login {
    width: 50%;
    padding: 20px;
  }

  .forgot-p,
  .box-pay.pay,
  .container-pagamento,
  .filters,
  .match90,
  .container-match-45,
  .container-match-33,
  .container-partite,
  .cashin,
  .user-key {
    width: 50%;
  }

  .input-privacy {
    grid-template-columns: 5% 95%;
  }

  .team-scommessa,
  .settings,
  .puntata-container {
    width: 40%;
  }

  .container-pay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .box-pay {
    width: 90%;
  }

  .box-pay .button {
    width: 100%;
  }

  .container-searchbar {
    width: 50%;
    margin: auto;
  }

  .bx-filter {
    padding: 5px;
  }

  .bx-filter:hover {
    border-radius: 50%;
    background: var(--third-color);
    cursor: pointer;
  }

  .searchbar {
    width: 100%;
  }

  .quote {
    width: 70%;
    margin: 30px auto;
  }

  .quote input {
    text-align: center;
  }

  .menu-user .topbar,
  .menu-user .content {
    padding: 30px 25%;
  }

  .menu-user .user {
    padding: 30px;
  }

  .menu-user hr {
    width: 60%;
  }

  .topbar i,
  .content i {
    font-size: 25px;
  }

  .topbar {
    grid-template-columns: 5% 90% 5%;
  }

  .content {
    grid-template-columns: 5% 95%;
  }

  .user {
    grid-template-columns: 10% 60% 15% 15%;
  }

  .shortcut {
    grid-template-columns: 7% 93%;
    padding: 20px 50px 30px;
  }

  .container-video {
    grid-template-columns: 1fr 1fr;
  }

  .videoYT {
    height: 50vh;
  }

  .lineVideo {
    display: none;
  }

  .container-iscriviti {
    /*grid-template-columns: 1fr 1fr;*/
    width: 50%;
    margin: auto;
    border-radius: 15px;
  }

  .textIscriviti {
    margin: auto;
  }

  .container-faq {
    width: 60%;
  }

  .container-faq h3 {
    font-size: var(--h1-font);
  }

  .container-popBudg {
    width: 30%;
    padding: 40px 0;
  }

  .form-cashin {
    width: 70%;
    margin: auto;
  }

  .container-history {
    width: 50%;
  }

  .container-popAdd {
    width: 40%;
    padding: 40px;
  }

  .c-capitale {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 39% 47%;
    gap: 90px;
  }

  .check {
    gap: 0;
  }

  .title-history p {
    font-size: var(--h3-font);
  }

  .container-budget {
    width: 40%;
    padding: 40px 0;
  }

  .container-saldo {
    grid-template-columns: 15% 2%;
  }

  .insertBudg {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 0px 15%;
  }

  .button {
    width: 40%;
  }

  .container-popupdis {
    width: 40%;
  }

  .button-dis {
    width: 70%;
  }

  .textroad h1 {
    text-align: left;
  }

  .container-img,
  .textroad {
    width: 50%;
  }

  .textroad h1 {
    padding: 0 10px;
  }

  .container-form {
    width: 80%;
    margin: auto;
  }

  .img-roadmap {
    content: url("img/logo.png");
    transform: scale(1.5);
  }

  .menu-items {
    display: flex !important;
  }

  .navbar.roadmap {
    padding: 10px 80px;
    width: 80%;
  }

  .container-popup {
    width: 40%;
    padding: 40px;
  }

  .container-popup p {
    font-size: var(--h3-font);
  }
}
