@import "styles.css";

.container-video {
    display: grid;
    justify-items: center;
    padding: 0 15px;
    gap: 30px;
}

.container-video div {
    width: 100%;
}

.videoYT {
    width: 90%;
    height: 25vh;
    margin: 30px auto;
    display: block;
}

.lineVideo {
    width: 90%;
    margin: 20px auto;
    border: 1px solid var(--text-color);
}

@media (min-width: 769px) {
    .container-video {
        grid-template-columns: 1fr 1fr;
    }
    .videoYT {
        height: 50vh;
    }
    .lineVideo {
        display: none;
    }
}